[user]
	name = Filip Stefansson
	email = filip.stefansson@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	updateRefs = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[branch]
	sort = -committerdate

[column]
	ui = auto

[rerere]
	enabled = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
